.shiny-text {
  position: relative;
  display: inline-block;
  background: linear-gradient(
    90deg,
    #000000 0%,
    #00bcd4 25%,
    #1c9478 50%,
    #00bcd4 75%,
    #044939 100%
  );
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine linear infinite;
}

.shiny-text.disabled {
  animation: none;
  background-position: 0;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
} 